
(base) C:\Users\TehmeerAli>conda activate flask

(flask) C:\Users\TehmeerAli>cd "C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Flask-Framework-Cookbook\Flask-Framework-Cookbook-Third-Edition-main\Chapter-8"

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Flask-Framework-Cookbook\Flask-Framework-Cookbook-Third-Edition-main\Chapter-8>SET FLASK_APP=my_app

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Flask-Framework-Cookbook\Flask-Framework-Cookbook-Third-Edition-main\Chapter-8>flask run
C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py:1416: UserWarning: Fields missing from ruleset: password
  warnings.warn(text)
C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py:1416: UserWarning: Fields missing from ruleset: new_password,confirm
  warnings.warn(text)
 * Serving Flask app 'my_app'
 * Debug mode: off
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Flask-Framework-Cookbook\Flask-Framework-Cookbook-Third-Edition-main\Chapter-8>cd "C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Code\Chapter 8\App 2\flask_app"

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Code\Chapter 8\App 2\flask_app>SET FLASK_APP=my_app

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Code\Chapter 8\App 2\flask_app>flask run
C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py:1416: UserWarning: Fields missing from ruleset: pwdhash
  warnings.warn(text)
 * Serving Flask app 'my_app'
 * Debug mode: off
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [06/Jan/2024 17:08:49] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:08:49] "GET /static/css/bootstrap.min.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:49] "GET /static/css/main.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:49] "GET /static/js/bootstrap.min.js HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:55] "GET /admin/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:08:56] "GET /admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:56] "GET /admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:56] "GET /admin/static/admin/css/bootstrap2/admin.css?v=1.1.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:56] "GET /admin/static/vendor/jquery.min.js?v=3.5.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:56] "GET /admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:56] "GET /admin/static/vendor/moment.min.js?v=2.22.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:08:56] "GET /admin/static/vendor/select2/select2.min.js?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:03] "GET /admin HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:09:04] "GET /static/css/bootstrap.min.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:04] "GET /static/css/main.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:04] "GET /static/js/bootstrap.min.js HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:05] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:09:05] "GET /static/css/main.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:05] "GET /static/css/bootstrap.min.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:05] "GET /static/js/bootstrap.min.js HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:09] "GET /logout HTTP/1.1" 302 -
127.0.0.1 - - [06/Jan/2024 17:09:09] "GET /home HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:09:09] "GET /static/css/bootstrap.min.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:09] "GET /static/js/bootstrap.min.js HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:09] "GET /static/css/main.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:13] "GET /admin/ HTTP/1.1" 403 -
127.0.0.1 - - [06/Jan/2024 17:09:14] "GET /admin/ HTTP/1.1" 403 -
127.0.0.1 - - [06/Jan/2024 17:09:19] "GET /login HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:09:19] "GET /static/css/bootstrap.min.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:19] "GET /static/css/main.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:19] "GET /static/js/bootstrap.min.js HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:25] "POST /login HTTP/1.1" 302 -
127.0.0.1 - - [06/Jan/2024 17:09:25] "GET /home HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:09:25] "GET /static/css/bootstrap.min.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:26] "GET /static/css/main.css HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:26] "GET /static/js/bootstrap.min.js HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:29] "GET /admin/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:09:30] "GET /admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:30] "GET /admin/static/vendor/jquery.min.js?v=3.5.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:30] "GET /admin/static/admin/css/bootstrap2/admin.css?v=1.1.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:30] "GET /admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:30] "GET /admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:30] "GET /admin/static/vendor/moment.min.js?v=2.22.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:30] "GET /admin/static/vendor/select2/select2.min.js?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:36] "GET /admin/helloview/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:09:39] "GET /admin/user/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:09:39] "GET /admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/vendor/select2/select2.css?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/admin/css/bootstrap2/admin.css?v=1.1.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/vendor/jquery.min.js?v=3.5.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/vendor/moment.min.js?v=2.22.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/vendor/select2/select2.min.js?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker.js?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/admin/js/form.js?v=1.0.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/admin/js/filters.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/admin/js/actions.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:09:40] "GET /admin/static/bootstrap/bootstrap2/swatch/img/glyphicons-halflings.png HTTP/1.1" 304 -
[2024-01-06 17:09:41,826] ERROR in app: Exception on /admin/user/new/ [GET]
Traceback (most recent call last):
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 1455, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 869, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 867, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 852, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 69, in inner
    return self._run_view(f, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 369, in _run_view
    return fn(self, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py", line 2124, in create_view
    return self.render(template,
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 308, in render
    return render_template(template, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 152, in render_template
    return _render(app, template, context)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 133, in _render
    rv = template.render(context)
         ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 1301, in render
    self.environment.handle_exception()
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 936, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 3, in top-level template code
    {% from 'admin/lib.html' import extra with context %} {# backward compatible #}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\master.html", line 1, in top-level template code
    {% extends admin_base_template %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 35, in top-level template code
    {% block page_body %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 64, in block 'page_body'
    {% block body %}{% endblock %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 22, in block 'body'
    {% block create_form %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 23, in block 'create_form'
    {{ lib.render_form(form, return_url, extra(), form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 212, in template
    {% call form_tag(action=action) %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 191, in template
    {{ caller() }}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 213, in template
    {{ render_form_fields(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 174, in template
    {{ r(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\form\rules.py", line 305, in __call__
    raise ValueError('Form %s does not have field %s' % (form, self.field_name))
ValueError: Form <flask_admin.contrib.sqla.form.UserForm object at 0x000002592EBC4510> does not have field password
127.0.0.1 - - [06/Jan/2024 17:09:41] "GET /admin/user/new/?url=/admin/user/ HTTP/1.1" 500 -

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Code\Chapter 8\App 2\flask_app>flask run
C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py:1416: UserWarning: Fields missing from ruleset: pwdhash
  warnings.warn(text)
 * Serving Flask app 'my_app'
 * Debug mode: off
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/user/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/admin/css/bootstrap2/admin.css?v=1.1.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/vendor/select2/select2.css?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/vendor/jquery.min.js?v=3.5.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/vendor/moment.min.js?v=2.22.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/vendor/select2/select2.min.js?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker.js?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/admin/js/form.js?v=1.0.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/admin/js/filters.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/admin/js/actions.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:10:49] "GET /admin/static/bootstrap/bootstrap2/swatch/img/glyphicons-halflings.png HTTP/1.1" 304 -
[2024-01-06 17:10:51,477] ERROR in app: Exception on /admin/user/new/ [GET]
Traceback (most recent call last):
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 1455, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 869, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 867, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 852, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 69, in inner
    return self._run_view(f, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 369, in _run_view
    return fn(self, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py", line 2124, in create_view
    return self.render(template,
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 308, in render
    return render_template(template, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 152, in render_template
    return _render(app, template, context)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 133, in _render
    rv = template.render(context)
         ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 1301, in render
    self.environment.handle_exception()
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 936, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 3, in top-level template code
    {% from 'admin/lib.html' import extra with context %} {# backward compatible #}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\master.html", line 1, in top-level template code
    {% extends admin_base_template %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 35, in top-level template code
    {% block page_body %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 64, in block 'page_body'
    {% block body %}{% endblock %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 22, in block 'body'
    {% block create_form %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 23, in block 'create_form'
    {{ lib.render_form(form, return_url, extra(), form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 212, in template
    {% call form_tag(action=action) %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 191, in template
    {{ caller() }}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 213, in template
    {{ render_form_fields(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 174, in template
    {{ r(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\form\rules.py", line 305, in __call__
    raise ValueError('Form %s does not have field %s' % (form, self.field_name))
ValueError: Form <flask_admin.contrib.sqla.form.UserForm object at 0x000001E4BF50B9D0> does not have field password
127.0.0.1 - - [06/Jan/2024 17:10:51] "GET /admin/user/new/?url=/admin/user/ HTTP/1.1" 500 -

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Code\Chapter 8\App 2\flask_app>flask run
C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py:1416: UserWarning: Fields missing from ruleset: pwdhash
  warnings.warn(text)
 * Serving Flask app 'my_app'
 * Debug mode: off
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
[2024-01-06 17:14:03,309] ERROR in app: Exception on /admin/user/new/ [GET]
Traceback (most recent call last):
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 1455, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 869, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 867, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 852, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 69, in inner
    return self._run_view(f, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 369, in _run_view
    return fn(self, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py", line 2124, in create_view
    return self.render(template,
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 308, in render
    return render_template(template, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 152, in render_template
    return _render(app, template, context)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 133, in _render
    rv = template.render(context)
         ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 1301, in render
    self.environment.handle_exception()
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 936, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 3, in top-level template code
    {% from 'admin/lib.html' import extra with context %} {# backward compatible #}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\master.html", line 1, in top-level template code
    {% extends admin_base_template %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 35, in top-level template code
    {% block page_body %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 64, in block 'page_body'
    {% block body %}{% endblock %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 22, in block 'body'
    {% block create_form %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 23, in block 'create_form'
    {{ lib.render_form(form, return_url, extra(), form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 212, in template
    {% call form_tag(action=action) %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 191, in template
    {{ caller() }}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 213, in template
    {{ render_form_fields(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 174, in template
    {{ r(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\form\rules.py", line 305, in __call__
    raise ValueError('Form %s does not have field %s' % (form, self.field_name))
ValueError: Form <flask_admin.contrib.sqla.form.UserForm object at 0x00000143B4CD9C90> does not have field password
127.0.0.1 - - [06/Jan/2024 17:14:03] "GET /admin/user/new/?url=/admin/user/ HTTP/1.1" 500 -
[2024-01-06 17:14:06,744] ERROR in app: Exception on /admin/user/new/ [GET]
Traceback (most recent call last):
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 1455, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 869, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 867, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 852, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 69, in inner
    return self._run_view(f, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 369, in _run_view
    return fn(self, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py", line 2124, in create_view
    return self.render(template,
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 308, in render
    return render_template(template, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 152, in render_template
    return _render(app, template, context)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 133, in _render
    rv = template.render(context)
         ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 1301, in render
    self.environment.handle_exception()
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 936, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 3, in top-level template code
    {% from 'admin/lib.html' import extra with context %} {# backward compatible #}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\master.html", line 1, in top-level template code
    {% extends admin_base_template %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 35, in top-level template code
    {% block page_body %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 64, in block 'page_body'
    {% block body %}{% endblock %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 22, in block 'body'
    {% block create_form %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 23, in block 'create_form'
    {{ lib.render_form(form, return_url, extra(), form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 212, in template
    {% call form_tag(action=action) %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 191, in template
    {{ caller() }}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 213, in template
    {{ render_form_fields(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 174, in template
    {{ r(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\form\rules.py", line 305, in __call__
    raise ValueError('Form %s does not have field %s' % (form, self.field_name))
ValueError: Form <flask_admin.contrib.sqla.form.UserForm object at 0x00000143B4D2D010> does not have field password
127.0.0.1 - - [06/Jan/2024 17:14:06] "GET /admin/user/new/?url=/admin/user/ HTTP/1.1" 500 -

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Code\Chapter 8\App 2\flask_app>flask run
C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py:1416: UserWarning: Fields missing from ruleset: pwdhash
  warnings.warn(text)
 * Serving Flask app 'my_app'
 * Debug mode: off
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [06/Jan/2024 17:18:11] "GET /admin/user/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:18:11] "GET /admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/admin/css/bootstrap2/admin.css?v=1.1.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/vendor/select2/select2.css?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/vendor/jquery.min.js?v=3.5.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/vendor/select2/select2.min.js?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/vendor/moment.min.js?v=2.22.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker.js?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/admin/js/form.js?v=1.0.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/admin/js/filters.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:12] "GET /admin/static/admin/js/actions.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/user/new/?url=/admin/user/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/admin/css/bootstrap2/admin.css?v=1.1.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/vendor/select2/select2.css?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/vendor/jquery.min.js?v=3.5.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/vendor/moment.min.js?v=2.22.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker.js?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/vendor/select2/select2.min.js?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:13] "GET /admin/static/admin/js/form.js?v=1.0.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/user/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/static/admin/css/bootstrap2/admin.css?v=1.1.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/static/vendor/select2/select2.css?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/static/vendor/jquery.min.js?v=3.5.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:27] "GET /admin/static/vendor/moment.min.js?v=2.22.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:28] "GET /admin/static/vendor/select2/select2.min.js?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:28] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker.js?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:28] "GET /admin/static/admin/js/form.js?v=1.0.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:28] "GET /admin/static/admin/js/filters.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:18:28] "GET /admin/static/admin/js/actions.js?v=1.0.0 HTTP/1.1" 304 -

(flask) C:\Users\TehmeerAli\Desktop\Books\INSHALLAH TALLAH MicroServices\Packt Flask Framework Cookbook TextBook\Code\Chapter 8\App 2\flask_app>flask run
C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py:1416: UserWarning: Fields missing from ruleset: pwdhash
  warnings.warn(text)
 * Serving Flask app 'my_app'
 * Debug mode: off
WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
127.0.0.1 - - [06/Jan/2024 17:22:30] "GET /admin/user/ HTTP/1.1" 200 -
127.0.0.1 - - [06/Jan/2024 17:22:30] "GET /admin/static/bootstrap/bootstrap2/swatch/default/bootstrap.min.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:30] "GET /admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/admin/css/bootstrap2/admin.css?v=1.1.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/vendor/select2/select2.css?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker-bs2.css?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/vendor/jquery.min.js?v=3.5.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/vendor/moment.min.js?v=2.22.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/vendor/select2/select2.min.js?v=3.5.2 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/vendor/bootstrap-daterangepicker/daterangepicker.js?v=1.3.22 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/admin/js/form.js?v=1.0.1 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/admin/js/filters.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/admin/js/actions.js?v=1.0.0 HTTP/1.1" 304 -
127.0.0.1 - - [06/Jan/2024 17:22:31] "GET /admin/static/bootstrap/bootstrap2/swatch/img/glyphicons-halflings.png HTTP/1.1" 304 -
[2024-01-06 17:22:33,050] ERROR in app: Exception on /admin/user/new/ [GET]
Traceback (most recent call last):
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 1455, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 869, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 867, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\app.py", line 852, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 69, in inner
    return self._run_view(f, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 369, in _run_view
    return fn(self, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\model\base.py", line 2124, in create_view
    return self.render(template,
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\base.py", line 308, in render
    return render_template(template, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 152, in render_template
    return _render(app, template, context)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask\templating.py", line 133, in _render
    rv = template.render(context)
         ^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 1301, in render
    self.environment.handle_exception()
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\environment.py", line 936, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 3, in top-level template code
    {% from 'admin/lib.html' import extra with context %} {# backward compatible #}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\master.html", line 1, in top-level template code
    {% extends admin_base_template %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 35, in top-level template code
    {% block page_body %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\base.html", line 64, in block 'page_body'
    {% block body %}{% endblock %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 22, in block 'body'
    {% block create_form %}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\model\create.html", line 23, in block 'create_form'
    {{ lib.render_form(form, return_url, extra(), form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 212, in template
    {% call form_tag(action=action) %}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 191, in template
    {{ caller() }}
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 213, in template
    {{ render_form_fields(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\jinja2\runtime.py", line 777, in _invoke
    rv = self._func(*arguments)
         ^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\templates\bootstrap2\admin\lib.html", line 174, in template
    {{ r(form, form_opts=form_opts) }}
    ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\TehmeerAli\.conda\envs\flask\Lib\site-packages\flask_admin\form\rules.py", line 305, in __call__
    raise ValueError('Form %s does not have field %s' % (form, self.field_name))
ValueError: Form <flask_admin.contrib.sqla.form.UserForm object at 0x0000015D4CB47E10> does not have field notes
127.0.0.1 - - [06/Jan/2024 17:22:33] "GET /admin/user/new/?url=/admin/user/ HTTP/1.1" 500 -
